# Backend Environment Configuration
# Copia este archivo a .env y completa los valores

PORT=3000
DB_NAME=roguelike_db
DB_USER=soleysus
DB_PASS=123456789
DB_HOST=localhost

# JWT Secrets (Cambiar estos valores en producción)
JWT_SECRET=XTT.1337-566_PT*28
JWT_REFRESH_SECRET=RfRsH.2024-Key_ForRefresh_Tokens
STEAM_API_KEY=TU_LLAVE_DE_STEAM_AQUI
# 480 spacewar
STEAM_APP_ID=480
